/* TODO Add site wide styles */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
body {
  background-color: #26262b;
  color: white;
  font-family: "Saira Condensed", sans-serif;
}

.accent {
  color: #9d07c3;
}

.body-div {
  position: center;
  padding-top: 70px;
  margin-left: 7%;
  margin-right: 7%;
  height: 100%;
}
