/* TODO Add site wide styles */
body {
  background-color: #26262b;
  color: white;
}

.accent {
  color: #9d07c3;
}

.button {
  color: white;
}

.body-div {
  position: center;
  padding-top: 70px;
  background-color: #840f8f;
  width: 100%;
  height: 100%;
}
