.container {
  padding: 20px;
  padding-bottom: 40px;
  width: 400px;
  background-color: #26262b;
  display: flex;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -150px;
  margin-top: -150px;
  flex-direction: column;
  border-radius: 10px;
}

.text-box {
  margin-bottom: 19px;
}
