.navbar {
  display: flex;
  justify-content: space-between;
}
.MuiAppBar-colorPrimary,
.appbar {
  background-color: #3cb9fc;
}
.search-icon {
  height: 20px;
  width: 20px;
}

.search-div {
  display: flex;
  align-items: center;
}
