.video-container {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 1vh;
}

.sidebar {
  margin-left: 30px;
  overflow-y: scroll;
}

.video-info {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.comment-section {
}
